extends layout

block title
	| Inicio

block js
	script(type='text/javascript', src='https://www.google.com/jsapi?autoload=%7B%22modules%22%3A%5B%7B%22name%22%3A%22visualization%22%2C%22version%22%3A%20%221.0%22%2C%22packages%22%3A%20%5B%22corechart%22%2C%22table%22%5D%7D%5D%7D', charset='UTF-8', data-filter='base')
	script(type='text/javascript', src='js/kunder.instagram.dataTable.js')
	script(type='text/javascript', src='js/kunder.instagram.charts.js')
	script(type='text/javascript', src='js/kunder.instagram.index.js')
	
block css
	link(rel='stylesheet', type='text/css', media='screen', href='css/kunder.instagram.index.css')

block content
	script.
		var posts = !{JSON.stringify(postByDay)}	
	
	#panel
		#posts-day(style="text-align: center; display: inline-block")
		.total(style="display: inline-block")
			p
				span.total-posts
					|  #{ count }
				br
				span.total-posts-text Posts totales
		.clearfix
		
		#info
			.row
				.col-sm-6.col-sm-offset-3.line-right
					h3(style="text-align: center") Usuarios m&aacute;s activos
					table.table.table-hover
						thead
							tr
								th(style="width:20px")
									| 
								th(style="width:70px")
								th
									| Nombre
								th
									| Publicaciones
						tbody#influyentes-table-body
							for u, i in most_active
								tr
									td #{ i + 1 }
									td
										img.load.img-circle.profile-picture(src="#{ u._id.picture }")
									td
										a(href="http://instagram.com/#{u._id.username}", target="_blank")
											span.username #{ u._id.username }
											br
											span.fullname #{ u._id.full_name }
									td
										| #{ u.posts }
				//
					.col-sm-6
						h3(style="text-align: center") Hashtags m&aacute;s utilizados
						table.table.table-hover
							thead
								tr
									th(style="width:20px")
										| 
									th
										| Hashtag
									th(style="width:100px")
										| Cantidad
									th(style="min-width:150px")
							tbody#hashtags-table-body
								tr
	
	script(type='text/javascript').
		kunder.Instagram.Index.Initialize();