extends layout

block js
	script(type='text/javascript', src='js/kunder.instagram.posts.js')

block css
	link(rel='stylesheet', type='text/css', media='screen', href='css/kunder.instagram.posts.css')

block title
	| Configuraci&oacute;n

block content
	input#last-post(type="hidden", name="last", value="#{posts[0]._id}")
	input#first-post(type="hidden", name="first", value="#{posts[posts.length-1]._id}")
	.new-posts
		| 50 nuevos
	each p in posts
		.post
			if p.link
				a.pull-right(href="#{p.link}", target="_blank")
					span.glyphicon.glyphicon-share-alt
					
			if p.user && p.user.username
				.user
					a(href="http://instagram.com/#{p.user.username}", target="_blank")
						if p.user.profile_picture
							.profile-picture
								img.load.img-circle(data-src="#{p.user.profile_picture}")
						.username
							| #{p.user.username}
							if p.user.full_name
								.fullname
									| #{ p.user.full_name }
							if p.created_time	
								.created_time
									| #{ moment(p.created_time).fromNow() }
			
			if p.videos && p.videos.low_resolution
				.video
					video.load.img-thumbnail(data-src="#{p.videos.low_resolution.url}")
						| Video no soportado
				
			if p.images && p.images.low_resolution.url
				.picture(class="#{p.videos && p.videos.low_resolution ? 'is-video': ''}")
					img.load.img-thumbnail(data-src="#{p.images.low_resolution.url}")
					if p.videos && p.videos.low_resolution
						.play-video
							span.glyphicon.glyphicon-play-circle
					
			if p.caption && p.caption.text
				.caption
					if p.caption.text.length >= 200
						| #{ p.caption.text.substring(0, 197) }...
					else
						| #{p.caption.text}
			
	
	script(type='text/javascript').
		kunder.Instagram.Posts.Initialize();